<script lang="ts">
    import { onMount } from "svelte";
    import { checkboxAction } from "../../lib/checkboxAction";
    import * as marked from "marked";

    import { browser } from "$app/environment";
    /** @type {import('./$types').PageData} */
    export let data;
    export let markdownContent: string;
    export let slug: string;

    let checkboxes: string[] = [];
    let checkboxStates: boolean[] = [];
    let htmlContent = "";
    if (!browser) {
        markdownContent = data.props.markdownContent;
        // Markdown を HTML に変換
        htmlContent = markdownContent
            ? marked.parse(data.props.markdownContent)
            : "# none";

        htmlContent = htmlContent.replace(
            /<input disabled(="")? type="checkbox"/g,
            '<input type="checkbox"'
        );
    }

    onMount(() => {
        console.log("mount");
        const checkboxes = getItemsFromListElements();
        checkboxes.forEach((checkbox, index) => {
            console.log(checkbox.checkbox.id + index);
            const pathName = window.location.pathname;
            const fileNameWithExtension = pathName.substring(
                pathName.lastIndexOf("/") + 1
            );
            const fileNameWithoutExtension = fileNameWithExtension
                .split(".")
                .slice(0, -1)
                .join(".");

            console.log(fileNameWithoutExtension);
            checkbox.checkbox.setAttribute(
                "id",
                fileNameWithoutExtension +
                    "-" +
                    String(index) +
                    "-" +
                    checkbox.text
            );

            const isChecked =
                localStorage.getItem(checkbox.checkbox.id) === "true";
            if (isChecked) {
                checkbox.checkbox.checked = true;
            }
            checkboxAction(checkbox.checkbox, slug);
        });
    });

    type ListItemData = {
        text: string;
        checkbox: HTMLInputElement;
        isChecked: boolean;
    };

    function getItemsFromListElements(): ListItemData[] {
        const result: ListItemData[] = [];

        // すべてのli要素を取得
        const liElements = document.querySelectorAll("li");

        liElements.forEach((liElement, index) => {
            // チェックボックスの状態を取得
            const checkboxElement = liElement.querySelector(
                'input[type="checkbox"]'
            ) as HTMLInputElement;

            if (!checkboxElement) {
                return;
            }
            const isChecked = checkboxElement ? checkboxElement.checked : false;

            // チェックボックスの後のテキストノードの内容を取得
            let text = "";
            let currentNode = checkboxElement && checkboxElement.nextSibling;
            while (currentNode) {
                if (currentNode.nodeType === 3) {
                    // Text node
                    text += currentNode.textContent;
                }
                currentNode = currentNode.nextSibling;
            }

            result.push({
                text: text.trim(),
                checkbox: checkboxElement,
                isChecked,
            });
        });

        return result;
    }
</script>

<main>
    {@html htmlContent}
</main>

<style>
    main {
        width: 100%;
        height: 100%; /* 必要に応じて設定 */
        background: #e0e0e0; /* 任意の背景色などを指定 */
        border-radius: 15px;
        padding: 20px;
        padding-left: 40px;
        padding-bottom: 40px;
    }
    @media (min-width: 800px) {
        main {
            width: 800px; /* または任意の最大幅 */
            margin: 0 auto; /* 左右のマージンを自動にして中央寄せ */
        }
    }
</style>
